@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  font-family: "Source Sance Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.date-picker {
  top: 10.1rem;
  right: 1.2rem;
  position: absolute;
}

.datePickerHeaderStyling {
  width: 420px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

@media print {
  body {
    color: black !important;
    background-color: white !important;
  }

  .print-text,
  .page-title,
  .page-sub-title {
    color: black !important;
  }

  .MuiDataGrid-columnHeader {
    border-bottom: 1px solid black !important;
  }

  .MuiDataGrid-cell--withRightBorder,
  .MuiDataGrid-columnHeader--withRightBorder {
    border-right-color: black !important;
  }

  .hide-on-print,
  .css-15lx25q-MuiDataGrid-footerContainer {
    display: none !important;
  }

  .print-background,
  .MuiDataGrid-topContainer,
  .MuiDataGrid-virtualScroller {
    background-color: white !important;
    --DataGrid-containerBackground: white !important
  }
}